<div class="navbar container row col-12 bg-light w-100" style="">
	<div class="col-md-6">
		<span>Heureux de vous retrouver 😊,</span>
		<h3>User name</h3>
	</div>
	<ul class="nav col-md-6">
		<li class="nav-item"><a href="" class="nav-link px-2"><span class="bi-person-circle"></span> Profile</a></li>
		<li class="nav-item"><a href="" class="nav-link px-2"><span class="bi-bell-fill"></span> Notifications</a></li>
		<li class="nav-item"><a href="" class="nav-link px-2"><span class="bi-question-circle-fill"></span> Centre d'aide</a></li>
	</ul>
</div>