<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/font-awesome.min.css">
	<link rel="stylesheet" href="./css/bootstrap-icons.min.css">
	<link rel="stylesheet" href="css/main.css">
	<% if(typeof cssFile !== "undefined"){ %>
		<link rel="stylesheet" href="css/<%= cssFile %>.css">
	<% } %>
	<title> 
		<%= typeof title != 'undefined' ? title : 'Titre de la page' %>
	</title>
</head>
<body>