<%- include("partials/head") %>
<div class="w-100 h-100 center">
	<div class="container">
		<img src="img/bubbles-logo.png" alt="bubbles logo" class="" style="height: 100px;">
		<h1 class="font-size-lg text-center" style="font-family: 'freestyle script'; color: #e41d8d">Bubbles</h1>
		<p class="text-center" style="font-family: 'century gothic';">
			Just <span class="badge text-white" style="background-color: #e41d8d;">concentrate on code!</span>
		</p>
		<form method="post" class="center">
			<div>
				<div class="mb-2">
					<label for="" class="form-label">App name</label>
					<input class="form-control" type="text" name="" value="" placeholder="">
				</div>
				<div class="mb-2">
					<label for="" class="form-label">Set up an email</label>
					<input class="form-control" type="email" name="" value="" placeholder="">
				</div>
				<div class="mb-2">
					<label for="" class="form-label">Set up a password</label>
					<input class="form-control" type="text" name="" value="" placeholder="">
				</div>
				<div class="mb-3">
					<button type="submit" class="btn btn-dark">Start the journey</button>
				</div>
			</div>
		</form>
	</div>
</div>