<%
	const defaultTextSizes = ["11", "12", "14", "16", "18", "20", "22", "24", "28", "32", "36", "40", "44", "48", "60", "72"];
	const fontFamilies = ["calibri", "century gothic"];
%>
<div class="w-100 p-3">
	<div class="d-flex flex-row mb-3">
		<button class="btn btn-sm btn-primary me-2" onclick="saveNote()">
			<span class="bi-save"></span>
			<span class="d-none d-md-inline"> Save</span>
		</button>
		<button class="btn btn-sm btn-primary me-2">
			<span class="bi-pencil-square"></span>
			<span class="d-none d-md-inline"> Add note</span>
		</button>
		<button class="btn btn-sm btn-primary me-2">
			<span class="bi-folder-plus"></span>
			<span class="d-none d-md-inline"> Add to a folder</span>
		</button>
	</div>
	<div class="w-100">
		<div class="d-flex flex-row overflow-x-auto" style="min-width: 100%">
			<div class="me-2 d-flex">
				<select name="text-font-family" id="text-font-family" onchange="changeFontFamily()" >
					<optgroup>
						<% fontFamilies.forEach((font) => { %>
							<option value="<%= font %>"><%= font %></option>
						<% }) %>
					</optgroup>
				</select>
				<select name="text-size" id="text-size" onchange="changeFontSize()">
					<optgroup>
						<% defaultTextSizes.forEach((textSize) => { %>
							<option value="<%= textSize %>"><%= textSize %></option>
						<% }) %>
					</optgroup>
				</select>
			</div>
			<button class="style-btn me-2" id="text-bold" data-action="bold" data-tag-name="" data-style="" onclick="textToBold()">
				<span class="bi-type-bold"></span>
			</button>
			<button class="style-btn me-2" data-action="italic" id="text-italic" data-tag-name="" data-style="" onclick="textToItalic()">
				<span class="bi-type-italic"></span>
			</button>
			<button class="style-btn me-2" data-action="underline"  id="text-underline" onclick="">
				<span class="bi-type-underline"></span>
			</button>
			<div class="d-flex flex-column me-2">
				<span class="fs-6 bi-fonts text-center"></span>
				<input id="text-color" type="color" name="" value="" placeholder="" onchange="changeColor()">
			</div>
			<div class="d-flex flex-row">
				<span class="bi-image me-2 fs-4"></span>
				<input class="form-control" type="file" name="" value="" placeholder="" id="img" onchange="insertImg()">
			</div>
		</div>
	</div>
</div>