<nav class="d-block d-md-none navbar navbar-light fixed-top h-auto bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tyli</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <button class="nav-link dropdown-toggle" href="#">
            <span class="bi-folder"></span> Dropdown
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="d-none d-md-block bg-dark h-100 p-4">
  <h1 class="fs-1 text-white">Tyli</h1>
  <span class="fs-5 text-white">My notes</span>
  <ul class="navbar-nav navbar-dark me-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown">
      <div class="d-flex">
        <button title="Supprimer le dossier" class="btn btn-sm btn-light m-2"><span class="bi-trash"></span></button>
        <button class="nav-link dropdown-toggle fs-6" href="#">
          <span class="bi-folder"></span> Dropdown
        </button>
      </div>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </li>
  </ul>
</div>