<div class="offcanvas offcanvas-start" tab-index="-1" id="offcanvas-code-editor" aria-labelledby="offcanvas-code-editor-label">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvas-code-editor-label">Code editor</h5>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		Files list goes here
	</div>
</div>

<button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-code-editor" aria-controls="offcanvas-code-editor"> <span class="bi-list"></span>
  Files
</button>

<div class="mb-3">
	<textarea name="" id="" rows="20" class="form-control bg-dark text-white hasCode"></textarea>
</div>