<%- include("../partials/head") %>
	<div class="container center h-100">
		<div class="col-md-6 p-4 bg-light rounded-4 bg-opacity-50">
			<p class="font-size-xs text-center">
				Désolé chers <b> <%= typeof uname != 'undefined' ? uname : 'utilisateur' %> </b> nous ne trouvons pas la page
			</p>
		</div>
	</div>

<%- include("../partials/foot") %>