<%- include("../partials/head") %>

	<div class="h-100 w-100">
		<div class="row h-100">
			<div class="col-md-6">
				<img class="h-100 w-100" src="img/curiosity-cuate.png" alt="Curiosity">
			</div>
			<div class="col-md-6 p-5 center bg-dark">
				<div class="p-4">
					<p class="text-white">
						<span class="font-size-md">Oupssss!!!!</span>, accès refusé.
						<br>
						Connectez vous!
					</p>
					<a class="btn btn-danger rounded-5" href="/login">Se connecter</a>
				</div>
			</div>
		</div>
	</div>

<%- include("../partials/foot") %>