<div class="bg-light shadow-lg p-4 w-75 rounded-4 mb-3">
	<p class="text-center">
		<span class="font-size-md">Youpi!</span>, note added
	</p>
	<div class="w-100 center">
		<div class="badge bg-warning rounded-5">
			<span class="font-size-lg bi-check"></span>
		</div>
	</div>
</div>