	<div class="bg-dark p-4 text-white w-75 rounded-4 mb-3">
		<h1 class="font-size-md w-50">Add a content</h1>
		<hr class="w-25">
		<div class="mb-3">
			<label for="name" class="form-label">Content</label>
			<input type="text" class="form-control w-75">
		</div>
		<div>
			<a href="" class="btn btn-success">
				Add note
			</a>
		</div>
	</div>
</form>