<form action="" class="w-75 mb-3">
	<h1 class="fs-1">Modify note</h1>
	<hr class="w-50">
	<div class="mb-3">
		<label for="" class="form-label">Title</label>
		<input type="text" class="form-control">
	</div>
	<div class="mb-3">
		<label for="" class="form-label">Content</label>
		<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
	</div>
	<div>
		<button class="btn btn-primary">Add</button>
	</div>
</form>